.name {
    font-size: 64px;
    font-family: 'Merriweather', sans-serif;
    display: flex;
    justify-content: center;
}

.letters {
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    
    width: 350px;
    /* display: grid; 
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px; 
    grid-column-gap: 10px;
    grid-row-gap: 3px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.answer {
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
}

.hidden {
    visibility: hidden;
}

.gameboard { 
    display: flex;
    flex-flow: row-reverse;
}