.gameboard-container {
    background-color: white;
}

.name {
    font-size: 64px;
    font-family: 'Merriweather', sans-serif;
}

.letters {
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
}

.answer {
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    color: white;
} 